<mat-card class="booking-card">
  <mat-card-title>Choisissez un créneau</mat-card-title>

  <ng-container *ngIf="slots.length; else noSlots">
    <mat-list>
      <mat-list-item *ngFor="let slot of slots">
        <div class="slot-info">
          {{ slot.startTime | date:'short' }}
          – {{ slot.endTime | date:'short' }}
        </div>
        <button
          mat-stroked-button
          color="primary"
          [disabled]="Loading"
          (click)="reserve(slot)">
          Réserver
        </button>
      </mat-list-item>
    </mat-list>
  </ng-container>

  <ng-template #noSlots>
    <p>Aucun créneau disponible pour le moment.</p>
  </ng-template>
</mat-card>
