<!-- affiche le nom du sit avec les liens de navigation pour l'inscription et la connexion -->
<header class="header">
  <div class="header-container">
    <span class="app-name">{{ appName}}</span>
    <nav *ngIf="!isLoggedIn" class="nav-links">
        <!-- Si pas connecté : Inscription & Connexion -->
      <a mat-button routerLink="/register" class="nav-btn">Inscription</a>
      <a mat-button routerLink="/login" class="nav-btn">Connexion</a>
      </nav>
        <!-- Si connecté : Mes rendez-vous & Déconnexion -->
         <button
        *ngIf="isLoggedIn"
        mat-button
        color="warn"
        class="logout-button white-button"
        (click)="logout()">
        Déconnexion
      </button>
     </div>
</header>



