<!-- src/app/auth/login/login.component.html -->
<mat-card class="login-card">
  <mat-card-title>Connexion</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        L’email est requis
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Format d’email invalide
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Le mot de passe est requis
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width"
            [disabled]="form.invalid || isLoading">
      {{ isLoading ? 'Connexion...' : 'Se connecter' }}
    </button>
  </form>
    <!-- Lien vers l'inscription -->
  <p class="mt-2" style="text-align: center;">
    Pas encore de compte ? 
    <a routerLink="/register">Inscrivez-vous ici</a>
  </p>
</mat-card>
